@font-face {
    font-family: 'SF Pro';
    src: url(fonts/SF-Pro-Rounded-Thin.otf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  height: 100vh;
  display: flex;
}

.chat-container {
  display: flex;
  width: 100%;
  height: 100vh;
}

/* User List */
.user-list {
  width: 250px;
  background-color: #f5f5f5;
  border-right: 1px solid #ccc;
  display: flex;
  flex-direction: column;
}

.user {
  padding: 15px 20px;
  border-bottom: 1px solid #ddd;
  cursor: pointer;
  background-color: transparent;
}

.user:hover {
  background-color: #e0e0e0;
}

.user.selected {
  background-color: #007aff;
  color: white;
  font-weight: bold;
}

/* Chat Area */
.chat-area {
  display: flex;
  flex-direction: column;
  flex: 1;
}

/* Messages */
.messages {
  flex: 1;
  padding: 20px;
  background-color: #ffffff;
  overflow-y: auto;
}

.message {
  margin-bottom: 15px;
  max-width: 70%;
  padding: 10px;
  border-radius: 8px;
  word-wrap: break-word;
}

.message.received {
  background-color: #f0f0f0;
  align-self: flex-start;
}

.message.sent {
  background-color: #007aff;
  color: white;
  align-self: flex-end;
  margin-left: auto;
}

/* New Message Area */
.new-message {
  display: flex;
  padding: 15px;
  background-color: #f9f9f9;
  border-top: 1px solid #ccc;
}

.new-message textarea {
  flex: 1;
  resize: none;
  padding: 10px;
  font-size: 16px;
  height: 50px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.send-button {
  display: inline-flex;       
  align-items: center;
  margin-left: 10px;
  padding: 0 20px;
  font-size: 16px;
  background-color: #007aff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* space between text and icon */
.send-button .material-icons {
  font-size: 20px;
  margin-left: 6px;
}

.send-button:hover {
  background-color: #005bb5;
}